.background{
  background-image: url(../images/home-bg2.jpg);
  background-size: cover;
  height:872px;
  position: relative;
}

.background::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.721);
}

.main-title{
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin-left: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  padding-top: 250px;
  z-index: 1;
  position: relative;
}

.sub-title{
  margin-left: 50px;
  font-size: 25px;
  color: white;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.know-more{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 100px;
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  border-radius: 20px;
  position: relative;
  transition: transform 0.2s ease;
  margin-right: 50px; 
  color: white; 
  border: solid 1px white;
}

.know-more:hover{
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  border: solid 1px white;
  transform: scale(1.05);
}

.learn-more:hover{
  color: blue;
}

.navbar a{
  color: white;
}

.navbar-brand:hover{
  color: white;
}
.navbar ul a{
  list-style-type: none;
  padding: 20px;
  padding-right: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar ul a:hover{
  font-weight: bold;
  text-decoration: underline;
}

.book-now{
  width: 150px;
  font-size: 22px;
  margin-top: 5px;
  border-radius: 30px;
  padding-right: 15px;
  padding-left: 15px;
  height: 50px;
  border: solid 1px white;
  color: white;
  margin-left: 150px;
  background-color: rgba(80, 0, 0, 0.463);
}

.book-now:hover{
  background-color: rgba(255, 255, 255, 0.514);
  color: black;
}

.offer-card:hover{
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.book-now2:hover{
  text-decoration:underline;
  color: black;
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.162);
}

.room-card:hover{
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.modal-book{
  background-color: rgba(255, 255, 255, 0.801);
  margin-top: 250px;
  width: 700px;
  margin-left: -100px;
}

.modal-book-title{
  color: black;
  font-weight: bold;
  align-items: center;
  margin-left: 240px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inputs{
  width: 300px;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
  background-color: rgba(218, 218, 218, 0.607);
  color: rgb(35, 35, 35);
  margin-top: -10px;
  margin-bottom: 20px;
  margin-right: 30px;
  border: solid 1px black;
  border-radius: 10px;
  margin-left: 10px;
}

.inputs::placeholder{
  color: rgb(35, 35, 35);
}

.btn-avail{
  width: 700px;
  background-color: black;
  border: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px white;
}

.btn-avail:hover{
  background-color: rgba(0, 0, 0, 0.765);
  color: white;
}

.background-about{
  background-image: url(../images/about/about-bg.jpg);
  background-size: cover;
  background-position: center;
  height:600px;
  position: relative;
}

.background-about::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.849);
}


.story{
  width: 1000px;
}

.story-head{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.story-body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
}

.about-boxes{
  width:250px;
  height: 250px;
  border: solid 2px black;
  margin-top: 100px;
  margin-right: 50px;
  border-radius: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.about-boxes i{
  font-size: 50px;
}

.btn-explore{
  background-color: rgb(173, 0, 0);
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -220px;
  margin-top: 100px;
}

.btn-explore:hover{
  border: solid 1px #ad0000;
}

.col .card:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(186, 186, 186);

}

.background-contact{
  background-image: url(../images/contact/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  height:600px;
  position: relative;
}

.background-contact::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.797);
}

.inputs-contact{
  width: 290px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: solid 1px #000000;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  margin-right: 12px;
}

.btn-arrow-up{
  height: 50px;
  width: 50px; 
  background-color: #ad0000; 
  border-radius: 50px; 
  margin-left: 1200px; 
  margin-top: -100px; 
  padding-top: 12px; 
  transition: transform 0.4s ease;
}

.btn-arrow-up:hover{
  background-color: #ad0000;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
}

.background-room{
  background-image: url(../images/Rooms/room-bg.jpg);
  background-size: cover;
  background-position: center;
  height:600px;
  position: relative;
}

.background-room::before{
  content: "";
  position: absolute;
  inset: 0;
  background:   rgba(0, 0, 0, 0.776);
}

.background-gallery{
  background-image: url(../images/Gallery/gallery-bg.jpg);
  background-size: cover;
  background-position: center;
  height:600px;
  position: relative;
}

.background-gallery::before{
  content: "";
  position: absolute;
  inset: 0;
  background:   rgba(0, 0, 0, 0.776);
}